<%= form_for @sneaker do |f| %>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :hypefactor %><br>
    <%= f.number_field :hypefactor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
