<ul id="users">
    <h3> <%= @sneaker.name %> </h3>
    <p> Hypefactor:  <%= @sneaker.hypefactor %> </p>
    <p> Price:  <%= @sneaker.price %> </p>
    <p> Brand: <%= @sneaker.brand %> </p>
    <p> Condition: <%= @sneaker.condition %> </p>
    <br>
    <%= form_tag sneaker_path(@sneaker), method: "delete" do %>
      <%= submit_tag "Delete #{@sneaker.name}" %>
    <% end %>

</ul>
